/* Navigation*/

@font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot');
  src: url('font/fontello.eot?#iefix') format('embedded-opentype'),
       url('font/fontello.woff') format('woff'),
       url('font/fontello.ttf') format('truetype'),
       url('font/fontello.svg#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

a, a:visited, nav {
-moz-transition: color 0.5s, background 0.7s, -moz-border-radius 0.7s, text-indent 0.2s;
-webkit-transition: color 0.5s, background 0.7s, -webkit-border-radius 0.7s, text-indent 0.2s;
-o-transition: color 0.5s, background 0.7s, border-radius 0.7s, text-indent 0.2s;
transition: color 0.5s, background 0.7s, border-radius 0.7s, text-indent 0.2s;
-webkit-tap-highlight-color: rgba(0,0,0,0); 
}

nav {
height: 50px;
width: 70px;
display: block;
position: absolute;
z-index: 10;
overflow-y: hidden;
text-align: center;
}

nav:hover {
width: 150px;
height: 299px;
}

nav a {
display: none;
text-indent: -9999px;
position: relative;
height: 20px;
padding: 13px 0;
color: #fff;
}

nav a:first-child:hover {
text-indent: -9999px;
}

nav:hover>a {
display: block;
}

nav:hover>a:first-child:after {
color: #6daeaf;
background: #505664;
}

nav a:first-child {
display: block;
text-align: center;
margin-bottom: 16px;
cursor: default;
}

nav a:after {
position: absolute;
top: 0;
padding: 10px 0;
width: 60px;
color: #fff;
font-family: 'fontello';
font-size: 24px;
display: block;
text-indent: 0;
background: #6daeaf;
}

nav a:hover {
text-indent: 0px;
text-align: center;
margin-left: 70px;
}

nav a:hover:after {
color: #999;
background: #fff;
text-align: center;
margin-left: -70px;
}

nav a:first-child:before {
position: absolute;
text-indent: 0;
top: 55px;
left: 23px;
content: "";
width: 0; 
height: 0; 
border-left: 7px solid transparent;
border-right: 7px solid transparent;
border-bottom: 7px solid #6daeaf;
}

nav a:first-child:hover:before {
margin-left: -70px;
}

nav a:first-child:after {
left: 0;
content: '\e001';
background: #656d7e;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

nav a:nth-child(2):after {
content: "\e002";
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

nav a:nth-child(3):after {
content: "\e803";
}

nav a:nth-child(4):after {
content: "\e804";
}

nav a:nth-child(5):after {
content: "\e805";
}

nav a:last-child:after {
content: "\e006";
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-bottomright: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}

@media handheld, only screen and (max-width: 767px) {

  nav a:hover {
  color: #6daeaf !important;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-left: 53px;
  padding-left: 17px;
}

nav a:hover:after {
  margin-left: -70px;
  padding-left: 0 !important;
}

nav a:first-child:hover:after {
  margin-left: -53px !important;
}

nav a:first-child:hover {
  background: transparent;
}

nav a:first-child:hover:before {
  margin-left: -53px;
}
}