* {
  margin: 0 auto 0 auto;
  padding: 0;
  border: 0;
}
html {
  height: 100%; }
body {
  background: #E5E4E2;
  padding: 80px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color: #666; }
a {
  color: #EB5250;
  text-decoration: none; }
a:hover {
  color: #B8A7A7; }
h1 {
  font-family: Gabriela, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 32px;
  text-align: center;}
h2 {
  font-weight: bold;
  font-size: 20px; }
div {
  width: 600px; }
p {
  margin-top: 24px;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-align: center; }
img.circular {
  width: 180px;
  height: 180px;
  margin-bottom: 24px;
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  border-style: solid;
  border-width: 4px;
}

/* Mobile */

@media handheld, only screen and (max-width: 767px) {

  body {
    font-size: 16px;
    -webkit-text-size-adjust: none; }

  body {
  width: 100%;
  padding: 35px 25px; }

  div {
    width: 250px; }
}